                                          /*Common*/
html { 
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.body {
  font-family: 'Roboto', Arial;
  font-style: normal;
  font-weight: normal;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 400ms;
}
button:hover {
  filter: brightness(80%);
}
                                          /*Background*/
.bg-wrapper {
  position: relative;
  padding-bottom: 10vh;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
                                          /*Video player*/
.video-container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  height: 735px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}
.video-container:fullscreen {
  height: 100vh;
  cursor: none;
}
video {
  width: 100%;
  margin-top: -90px;
}
.video-container:fullscreen > video {
  margin-top: 0;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}
.big-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  background: no-repeat center url(../img/big-play.svg);
}
.overlay {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 14px;
  font-size: 32px;
  line-height: 60px;
  color: #c4c4c4;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: 500ms;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.controls {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 85px;
  padding: 25px 30px;
  background-color: #000;
  z-index: 2147483648;
}
.video-container:fullscreen > .controls {
  background-color: transparent;
  transition: opacity 1000ms;
  opacity: 0;
}
.play {
  position: relative;
  width: 23px;
  height: 31px;
  margin-right: 50px;
}
.play::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 31px;
  background: no-repeat url(../img/play.svg);
  transition: 400ms;
}
.pause::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 31px;
  background: no-repeat url(../img/pause.svg);
  transition: 400ms;
}
.video-progress {
  margin-right: 50px;
  flex-grow: 1;
  background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);
  height: 8px;
  width: 929px;
  appearance: none;
  cursor: pointer;
}
.video-progress::-webkit-slider-thumb,
.volume-progress::-webkit-slider-thumb  {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  appearance: none;
  cursor: ew-resize;
  background: #fff;
}
.volume {
  position: relative;
  width: 38px;
  height: 31px;
  margin-right: 50px;
}
.volume::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 31px;
  background: no-repeat url(../img/volume.svg);
  transition: 250ms;
}
.vol50::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 31px;
  background: no-repeat url(../img/vol50.svg);
  transition: 250ms;
}
.muted::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 31px;
  background: no-repeat url(../img/muted.svg);
  transition: 250ms;
}
.volume-progress {
  margin-right: 50px;
  background: linear-gradient(to right, #710707 0%, #710707 100%, #c4c4c4 100%, #c4c4c4 100%);
  height: 8px;
  width: 155px;
  appearance: none;
  cursor: pointer;
}
.fullscreen {
  width: 36px;
  height: 36px;
  background: no-repeat url(../img/fullscreen.svg);
}
.video-container:fullscreen > .controls > .fullscreen {
  background: no-repeat url(../img/fullscreen_exit.svg);
}
.fullscreen:hover {
  transform: scale(1.1);
}
.video-container:fullscreen > .controls > .fullscreen:hover {
  transform: scale(0.94);
}