                                          /*Common*/
html { 
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.body {
  font-family: 'Roboto', Arial;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  background-color: #030303;
}
.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 75px 40px;
}
.no-list-style {
  list-style-type: none;
}
.section-title {
  font-family: 'Forum', Arial;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.text-color--gold {
  color: #9D8665;
}
.bg-color--white {
  background-color: #fff;
}
button {
  border: none;
  cursor: pointer;
}
.h3-style {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}
                                          /*Hide heading*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
                                          /*Background*/
.bg-wrapper {
  position: relative;
}
.bg {
  position: absolute;
  width: min(1900px, 98vw);
  height: 750px;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../assets/img/header_bg.jpg);
  background-size: 1215px 750px;
  background-repeat: no-repeat;
  background-position: calc(100% + 10px) 0;
  z-index: -1;
}
                                          /*Header*/
.header {
  margin-bottom: 40px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 195px;
  display: flex;
  align-items: center;
}
.header-logo__img {
  width: 50px;
  height: 34px;
  margin-right: 20px;
  background: url(../assets/svg/logo.svg) no-repeat;
}
.header-logo__text {
  font-family: 'Forum', Arial;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
}
.header__nav {
  max-width: 750px;
  width: 100%;
}
.header___nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav-list__item {
  padding-left: 30px;
  font-size: 22px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}
                                          /*Welcome-section*/
.welcome__title {
  margin-bottom: 26px;
}
.welcome__descr {
  font-weight: 300;
  font-size: 29px;
  line-height: 33px;
  margin-bottom: 76px;
}
.welcome__btn {
  width: 360px;
  margin-bottom: 170px;
  font-weight: 100;
  font-size: 22px;
  line-height: 75px;
  letter-spacing: 2px;
  color: #fff;
  background-color: #710707;
  border-radius: 10px;
}
                                          /*Visiting-section*/
.visiting__title {
  margin-bottom: 25px;
}
.visiting__list {
  padding-top: 75px;
  border-top: 3px solid #710707;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 78px;
  column-gap: 60px;
}
.card__ref {
  display: block;
  color: #000;
  text-decoration: none;
}
.card-photo__img {
  display: block;
  width: 440px;
  height: 285px;
  margin-bottom: 25px;
}
.card-photo__descr {
  margin-bottom: 9px;
  font-family: 'Forum', Arial;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.card__border {
  width: 300px;
  margin-bottom: 10px;
  border-top: 2px solid #710707;
}
.card__descr1 {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
}
.card__descr2 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 100;
}
                                          /*Explore-section*/
.explore__wrapper {
  display: flex;
  justify-content: space-between;
}
.explore__text-block {
  width: 660px;
}
.explore__title {
  margin-bottom: 25px;
}
.explore__border {
  margin-bottom: 75px;
  border-top: 3px solid #710707;
}
.explore__descr {
  margin-bottom: 25px;
  padding-right: 5px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}
.explore__img {
  margin-top: 15px;
  width: 720px;
  height: 700px;
}
                                          /*Journey-section*/
.player-window {
  position: relative;
}
.journey__big-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  padding-left: 25px;
  border: 9px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  z-index: 10;
}
.journey__img {
  display: block;
  width: 100%;
  height: min(629px, calc(100% - 811px));
}
.journey__controls {
  margin-bottom: 40px;
  padding: 25px 41px;
  display: flex;
  align-items: center;
  background-color: #000;
}
.controls__btn {
  display: flex;
  align-items: center;
  margin-right: 41px;
  background-color: transparent;
}
.controls__progress {
  flex-shrink: 0;
  margin-right: 41px;
  background: linear-gradient(to right, #24809E 0%, #24809E 47%, #b3b3b3 47%, #b3b3b3 100%);
  height: 8px;
  width: 820px;
  appearance: none;
}
.controls__progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  appearance: none;
  cursor: ew-resize;
  background: #fff;
}
.controls__volume {
  flex-shrink: 0;
  margin-right: 21px;
  width: 38px;
  height: 30px;
}
.volume {
  flex-shrink: 0;
  width: 155px;
  margin-right: 48px;
}
.journey__text-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.journey__descr {
  width: min(720px, calc(100% - 720px));
  padding-right: 10px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000;
}
                                          /*Journey-section*/
.tickets__title {
  margin-bottom: 25px;
}
.tickets__wrapper {
  display: flex;
  justify-content: space-between;
}
.tickets__bg {
  width: 720px;
  height: 550px;
  background: url(../assets/img/tickets.jpg) no-repeat;
}
.tickets__buying {
  display: flex;
  justify-content: space-between;
  width: 625px;
}
.tickets-type__title {
  margin-bottom: 50px;
}
.ticket-type__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 175px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}
.ticket-type__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.ticket-type__label {
  cursor: pointer;
}
.ticket-type__label::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 23px;
}
.ticket-type__radio:checked + .ticket-type__label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px;
}
.tickets-amount__title {
  margin-bottom: 11px;
  text-align: right;
}
.tickets__border {
  margin-bottom: 75px;
  border-top: 3px solid #710707;
}
.tickets-amount__descr {
  margin: 0 0 14px 25px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}
.number {
  display: flex;
  justify-content: space-between;
  align-items: center;
	width: 150px;
  height: 50px;
  padding: 6px 14px;
  margin: 0 0 35px 25px;
  border: 3px solid #fff;
}
.number__input {
	width: 30px;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
	text-align: center;
	appearance: textfield;
  background-color: #000;
  border: none;
  z-index: -1;
}
.number input::-webkit-outer-spin-button,
.number input::-webkit-inner-spin-button {
	display: none;
}
.number__btn {
	font-size: 32px;
	line-height: 32px;
  color: #fff;
  background-color: #000;
}
.tickets-amount__total {
  margin: 50px 0 50px 25px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
}
.tickets-amount__btn {
  display: block;
  width: 175px;
  font-weight: 300;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  border-radius: 2px;
}